<div>
  <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="<%= @validator.avatar %>" alt=""/>
  <%= @validator.moniker %>
  <%= "| rank #{@validator.rank.to_s}" %>
</div>
<hr/>
<div class="grid grid-cols-2 gap-4">
  <% @discord_messages.each do |message| %>
    <% next unless message.content.present? %>
    <div>
      <%= link_to(message.link) do %>
        <%= message.content %>
      <% end %>
    </div>
    <div>
      <%= link_to(message.link) do %>
        <%= message.timestamp.to_formatted_s(:db) %>
      <% end %>
    </div>
  <% end %>
</div>